.advantages {

    &__title,
    .feedback__title {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: $sub-font;
            color: $text-color;
            text-align: center;
            font-size: 2rem;
            padding-top: rem-calc(30);
            transform: rotate(0deg);
            writing-mode: horizontal-tb;

            @include breakpoint(medium up) {
                transform: rotate(180deg);
                writing-mode: vertical-rl;
                font-size: 3rem;
            }
        }
    }


    &__items {
        margin: 0;
        list-style: none;
        padding-top: rem-calc(30);
        color: $text-color;
        max-width: calc(100vw - 2rem);
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(medium up) {
            padding: rem-calc(70) 5%;
        }
        li {
            display: flex;

            &:not(:last-child) {
                margin-bottom: rem-calc(15);
            }
        }
    }

    &__img {
        position: relative;
        background-image: url(../images/masterclass_advantages.jpg);
        opacity: 0.9;
        background-size: cover;
    }

    &__icon {
        width: rem-calc(25);
        svg {
            fill: $orange;
            height: rem-calc(16);
            width: rem-calc(16);
        }
    }

    &__text {
        flex: 1;
        font-size: rem-calc(18);
    }
}
